<td>
  <img class="foodImg" src="/foodpics/<%=foodItem.id%>.jpg"type:"button" class" btn btn-danger" data-toggle="modal" data-target="#myModal-<%=foodItem.id%>"><br>
</td>
<div id="myModal-<%=foodItem.id%>" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><%=foodItem.name%></div>
      <div class="modal-body">
        <img src="/foodpics/<%=foodItem.id%>.jpg"> <br><%=foodItem.description%><br>
        $<%= (foodItem.price/100).toFixed(2) %><br>
        <form class= "myOrder">
          <input class= "quantity" name="quantity" value= "1"></input>
          <input class="submitButton" type="submit" value="Add to Cart" data-dismiss="modal">
          <input class= "myFoodId" type="hidden" name="food_id" value=<%=foodItem.id%>></input>
          <input class= "myFoodName" type="hidden" name="food_name" value=<%=foodItem.name%>></input>
         <input class= "myFoodPrice" type="hidden" name="food_price" value=<%=foodItem.price%>></input>
        </form>
      </div>
  </div>
</div>
