<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <!-- open san font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/content.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/sidebar.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/scroll.js"></script>

    <header >
      <a class="header">Resturant APP</a>
    </header>
  </head>

  <body>
    <div class="restName">
      <h1>Lighthouse Foods</h1>
      The HiVE, 128 W Hastings St #300, Vancouver, BC V6B 1G8
    </div>

    <nav>
      <a class="navEntree">Entree</a>
      <a class="navSnack">Snack</a>
      <a class="navDrink">Drink</a>
    </nav>

    <section id="sideBar">
      <input id="submitButton" type="submit" value="Checkout">
      <span class="totalAmount">$0.00</span>
    </section>

<main class="content">
  <section class = "entree">
    <%foodEntree.forEach(function(foodItem){%>
    <table>
      <tr>
        <td>
          <%= foodItem.name %>
        </td>
        <td>
          <%= foodItem.price %>
        </td>
        <td>
          <%= foodItem.description %>
        </td>
        <td>
          <%= foodItem.availability %>
        </td>
      </tr>
    </table>
    <% }) %>
  </section>
  <section class = "snack">
    <%foodSnack.forEach(function(foodItem){%>
    <table>
      <tr>
        <td>
          <%= foodItem.name %>
        </td>
        <td>
          <%= foodItem.price %>
        </td>
        <td>
          <%= foodItem.description %>
        </td>
        <td>
          <%= foodItem.availability %>
        </td>
      </tr>
    </table>
    <% }) %>
  </section>
  <section class = "drink">
    <%foodDrink.forEach(function(foodItem){%>
    <table>
      <tr>
        <td>
          <%= foodItem.name %>
        </td>
        <td>
          <%= foodItem.price %>
        </td>
        <td>
          <%= foodItem.description %>
        </td>
        <td>
          <%= foodItem.availability %>
        </td>
      </tr>
    </table>
    <% }) %>
  </section>
</main>

  </body>
</html>
